@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Source+Serif+4:opsz,wght@8..60,200&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/svg.jpg);
    transition: 0.7s ease;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Parisienne', cursive;
    font-size: 80px;
    text-align: center;
    color: rgb(225, 206, 250);
    margin-bottom: 3%;
    filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}


.container{
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    /* border: 2px solid rgba(255, 255, 255, 0.360); */
    border-radius: 15px;
    padding: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.578) 0px 20px 30px -10px;
    transition: height 0.7s ease;
    /* filter: drop-shadow(0 0 0.75rem crimson); */
}

.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #000000;
    border: 2px solid rgba(0, 0, 0, 0.36);
    outline: none;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.search-box i {
    position: relative;
    left: 10px;
    color: rgb(0, 0, 0);
    font-size: 28px;
}

.search-box input::placeholder {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

.search-box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    transition: transform .6s;
    border: none;
    outline: none;
    font-size: 26px;
    color: rgb(0, 0, 0);
    padding: 0 40px 0 5px;
    cursor: pointer;
}

.search-box button:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.3); 
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}

.weather-box img {
    width: 50%;
}

.weather-box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    text-align: center;
}

.weather-box,
.weather-details,
.not-found {
    /* overflow: hidden; */
    visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
    transform: translate(0%);
    transition: 0.7s ease;
    transition-delay: 0.3s;
}

.weather-box .box,
.not-found .box{
    transform: translate(0,100%);
}

.weather-box.active .box,
.not-found.active .box{
    transform: translate(0%);
    transition: 0.7s ease;
    transition-delay: 0.3s;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
    transform: translate(0,100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translate(0%);
    transition: height 1s ease;
    transition-delay: 1.2s;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: end;
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.not-found img {
    width: 60%;
}

.not-found p {
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
}